.git
.gitignore
README.md
Dockerfile
.dockerignore
*.md
.github
.idea
.vscode
test

*.ps1
*.bak
bin/*
test_*.*

dist/*
output/*
subs-check-pro*
mihomo-check*

openipdb.ipdb
config.yaml
mihomo.yaml
.golangci-lint.yml

.DS_Store

test_*/
*.csv

*.old
*.new

*.exe
*.syso
.wiki/
!bin/subs-check-pro-linux-*
