openipdb.ipdb
config.yaml
mihomo.yaml
.golangci-lint.yml
test

dist/*
output/*
subs-check-pro*
mihomo-check*

.idea
.vscode

.DS_Store

*.ps1
*.bak
bin/*
test_*.*
test_*/
speed_*.csv

*.old
*.new

*.exe
*.syso
.wiki/

!Subs-Check-PRO_OG.png
